* {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-family: "Courier New", monospace
}

h2 {
    font-size: 26px;
}

.title {
    background-color: rgb(241, 219, 157);
}

#a {
    color: rgb(175, 11, 11);
}

#c {
    color: rgb(223, 169, 23)
}

#k {
    color: rgb(255, 115, 0)
}